@charset "utf-8";
body{
    background: goldenrod;
}
p{
    font-family: sans-serif, monospace;
}
img{
    width: 560px;
    height: auto;
}
.ice{
    background-image: linear-gradient(blue, white);
}
iframe {
    
width: 560px;
height: 315px;
 //src="https://www.youtube.com/embed/GbVTdWrNT40?si=0KMkMy9nCkgKHwLC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
}